%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
        %p= @video.description
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' unless current_user.queued_video?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new], html: {class: "nifty_form"} do |f|
        %fieldset
          %label Rate this video
          %br/
          = f.select :rating, options_for_video_reviews
          %br/
          %label Write Review
          %br/
          = f.text_area :content, size: "60x12"
          %br/
        %fieldset.form-group.actions.clearfix
          %br/
          %input(type="submit" value="Submit" class="btn")
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by #{review.user.full_name}
              .col-sm-8
                %p= review.content